.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding-top: 15%;
  margin-right: 15%;
  margin-left: 15%;
}

.imgs{
  /* display: flex;
  margin-top: 40px;
  margin-left: 125px; */
  display: block;
  width: 90px;
  background-color: white;
  border: 0.25rem solid white;
}
